:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --acent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --bg-color-button: #f5f4fa;
  --hero-bg-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
img {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* цвет логотипа  #2196F3 */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid tomato;
}

.logo {
  color: var(--acent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.logo-studio {
  color: #000000;
}

.logo-footer {
  color: var(--primary-bg-color);
}
/* site-nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--acent-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

/* Contacts */
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 50px;
}

.contacts .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--acent-color);
}
.site-nav .link.current {
  color: var(--acent-color);
}

/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-bg-color);
  text-align: center;
}
.hero-title {
  margin: 45px 248px;
  margin-top: 0;

  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  width: 696px;
}
.section-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.section-team {
  background-color: var(--bg-color-button);
  padding-top: 94px;
  padding-bottom: 94px;
}
.title {
  margin-right: 30px;
}
.text-title {
  margin-right: 30px;
}
.team-list .section-title-team {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list .text {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list {
  display: flex;
  margin-left: -30px;
}
.img-team {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
/* features */

.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-list {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  margin-right: 30px;
}
/* Examples */
.work-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.work-list .text {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.work-list .section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.galery-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}
.text {
  margin: 20px 24px 54px 24px;
}

.section-title {
  margin: 20px 24px;
  text-align: center;
}
.section-title-portfolio {
  color: var(--primary-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}
.section-title-portfolio {
}

.images {
  margin-right: 30px;
}
.work-list-img {
  display: flex;
}
/* Button */
.btn {
  color: var(--primary-bg-color);
  background-color: var(--acent-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  border: var(--acent-color);
}

.buttons-nav .button-nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: var(--acent-color);
}
.buttons-nav .button-nav:hover,
.buttons-nav .button-nav:focus {
  color: var(--primary-bg-color);
  background-color: #2196f3;
}
.buttons-nav {
  display: flex;
  margin-bottom: 34px;
  justify-content: center;
}
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-content {
  border: 1px solid #eeeeee;
}
/* Footer-contacts */
.link-footer {
  color: var(--footer-contacts-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.link-map {
  color: var(--primary-bg-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.link-map:hover,
.link-map:focus {
  color: var(--acent-color);
}
.page-footer {
  background-color: var(--hero-bg-color);
}

.contacts-footer-list .link-footer:hover,
.contacts-footer-list .link-footer:focus {
  color: var(--acent-color);
}
.section {
  padding-bottom: 94px;
}
.buttons-nav {
  margin-bottom: 34px;
}
